
/* a {
    color: green;
} */


/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #1e1c21;
    height: 80px;
}

.container-grid {
    width: 1200px;
    margin: 0 auto;
}


.cabecalho {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu {
    width: 660px;
    display: flex;
    justify-content: space-between;
}

.menu a {
	color: white;
    text-decoration: none;
    text-transform: uppercase;
	
}



